@font-face {
    font-family: "Avenir Next LT Pro";
    font-weight: 400;
    font-style: normal;
    src: url("AvenirNextLTPro-Regular.otf");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Next LT Pro";
    font-weight: 400;
    font-style: italic;
    src: url("AvenirNextLTPro-It.otf");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Next LT Pro";
    font-weight: 600;
    font-style: normal;
    src: url("AvenirNextLTPro-Demi.otf");
    font-display: swap;
}

@font-face {
    font-family: "Avenir Next LT Pro";
    font-weight: 700;
    font-style: normal;
    src: url("AvenirNextLTPro-Bold.otf");
    font-display: swap;
}