@import '../../../styles.scss';

.bsSection {
    background-color: $primaryGreenTone2;
}

.bsContainer {
    min-height: 300px;
    width: 100%;
}

.rowContainer {
    min-height: 300px;
    align-content: center;
}

.firstText {
    font-family: $secondaryFont;
    color: white;
    font-weight: normal;
    font-size: 40px;
}

.secondText {
    font-family: $primaryFont;
    color: white;
    font-weight: normal;
    font-size: 32px;
    text-transform: uppercase;
}


@media (max-width: 576px) { 
    .firstText {
        font-size: 32px;
    }
    .secondText {
        font-size: 24px;
    }
    .rowContainer, .bsContainer {
        min-height: 275px;
    }
}