@import '../../../styles.scss';

.psSection {

}

.psContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 576px) { 
    .psContainer {
        min-height: fit-content;
        padding: 40px 16px;
    }
}