@import '../../../styles.scss';

.ctaSection {
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url('https://i.ibb.co/5vdyW80/bg-Call-To-Action.jpg');
}

.ctaContainer {
    min-height: 100vh;
    width: 100%;
}

.firstTitle {
    font-family: $primaryFont;
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.secondTitle {
    font-family: $primaryFont;
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.invitationTextOne, .invitationTextTwo {
    font-family: $secondaryFont;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
}

.btnSubmitContainer {
    padding: 0px 0px 0px 16px;
}

.firstFinalTitle, .secondFinalTitle {
    font-family: $primaryFont;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.footerLogoSocialContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footerLogoCol {
    padding: 0px;
    align-self: center;
}

.footerSocialDiv {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sponsorText {
    font-family: $secondaryFont;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
    white-space: nowrap;
    align-self: center;
}



@media (max-width: 576px) { 
    .firstTitle {
        display: none;
    }
    .secondTitle {
        font-size: 32px;
    }
    .spamText {
        display: none;
    }
    .invitationTextOne, .invitationTextTwo {
        font-size: 16px;
    }
    .invitationTextOne {
        margin-bottom: 16px;
    }
    .btnSubmitContainer {
        padding: 0px;
    }
    .firstFinalTitle, .secondFinalTitle {
        display:none;
    }
    .ctaContainer {
        padding: 0px 16px;
    }
}

@media (max-width: 768px) { 
    .footerLogoCol {
        text-align: center;
        margin-bottom: 16px;
    }
    .footerSocialDiv {
        justify-content: center;
    }
    .firstTitle {
        font-size: 24px;
        margin-bottom: 32px;
    }
    .secondTitle {
        // font-size: 40px;
    }
    .invitationTextOne, .invitationTextTwo {
        // font-size: 18px;
    }
    .firstFinalTitle, .secondFinalTitle {
        font-size: 16px;
    }
}

