@import '../../../styles.scss';


.hsContainer {
    min-height: 100vh;
    width: 100%;
}

.title {
    font-family: $primaryFont;
    color: white;
    text-align: left;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 16px;
}

.titleSubcolor {
    color: $primaryGreenTone2;

}

.subtitle {
    font-family: $secondaryFont;
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 40px;
}

.logoContainer {
    padding: 0px 15px;
    position: absolute;
    top: 32px;
}

@media (max-width: 576px) { 
    .title {
        font-size: 40px;
    }
}

.storeIconContainer {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-right: 32px;
    padding: 16px
}

.storeIconContainer:hover {
    cursor: pointer;
    background-color: rgba($color: #fafafa, $alpha: 0.2);
    border-radius: 50%;

}