@import '../../../styles.scss';

.stepNumberContainer {
    background-color: $primaryGreenTone2;
    color: white;
    border: 1px solid white;
    border-radius: 60px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 32px auto;
}

.stepNumber {
    font-family: $primaryFont;
    font-size: 18px;
}

.title {
    font-family: $primaryFont;
    color: $primaryGreenTone2;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 0px 8px 0px;
}

.text {
    font-family: $secondaryFont;
    color: $textFirstColor;
    font-size: 16px;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
}

.imgParticularProblem {
    width: 80px;
}